#!/bin/sh

dockerenv=""

if [ $(tty -s; echo $?) -eq 0 ]
then
    dockerenv="-it"
fi

if [ "x${BOX_INCLUDE_ENV}" != "x" ]
then
  for e in ${BOX_INCLUDE_ENV}
  do
    dockerenv="${dockerenv} -e $(echo "${e}=$(eval printf '%s' \$$e)")"
  done
fi

exec docker run --rm ${dockerenv} -v /var/run/docker.sock:/var/run/docker.sock -v $PWD:$PWD -w $PWD boxbuilder/box:@@VERSION@@ $*
